<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691088546211-r3g7km9gh6cefs4l9j6652c17vkvusvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691088546211-r3g7km9gh6cefs4l9j6652c17vkvusvo</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ0dt_rewiFvaYcAvJjpM4gBx1KjuPUbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>691088546211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carPower</string>
	<key>PROJECT_ID</key>
	<string>car-power-c559c</string>
	<key>STORAGE_BUCKET</key>
	<string>car-power-c559c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691088546211:ios:6e7822a1c340f3320c2216</string>
</dict>
</plist>